

<style type="text/css">

.jqvmap-label {
    background: #292929 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: none;
    font-family: sans-serif,Verdana;
    font-size: smaller;
    padding: 3px;
    position: absolute;
	z-index:9;
}
.jqvmap-zoomin, .jqvmap-zoomout {
    background: #000000 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    height: 10px;
    left: 10px;
    line-height: 10px;
    padding: 3px;
    position: absolute;
    text-align: center;
    width: 10px;
}
.jqvmap-zoomin {
    top: 10px;
}
.jqvmap-zoomout {
    top: 30px;
}
.jqvmap-region {
    cursor: pointer;
}
.jqvmap-ajax_response {
    height: 500px;
    width: 100%;
}
.jqvmap-zoomin, .jqvmap-zoomout {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 8px #000000;
    color: #000;
    cursor: pointer;
    font-size: 26px;
    height: 23px;
    line-height: 14px;
    margin: 4px 0;
    padding: 3px;
    position: absolute;
    right: 15px;
    text-align: center;
    width: 23px;
	left:initial;
}
.jqvmap-zoomout {
    margin: 13px 0;
}
#legend { border: 1px dashed #cccccc;  display: inline-block; float: right;overflow: hidden;padding: 10px; width: 32%;}
#legend td, #legend th{padding:5px;border:1px solid #ccc;font-size:12px;font-weight:bold;}

.countryList {width:17%;float:left;margin:0;padding:0;}
.countryList li {list-style:none;margin:0;padding:5px;}
.countryList li a {
    margin:0;
    padding: 0 0 0 46px;
    background-size: 26px auto;
    background-repeat: no-repeat;
    background-position: 4px center;
	display:block;
}



</style>

<link href="sites/all/themes/CSFL_theme/css/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet">

<ul class="nav nav-pills nav-stacked countryList">
<li id="AU-z" class="Australia"><a class="flag-icon-au" href="members/australia">Australia</a></li>
<li id="BR-z" class="Brazil"><a class="flag-icon-br" href="members/Brazil">Brazil</a></li>
<li id="CA-z" class="Canada"><a class="flag-icon-ca" href="members/Canada">Canada</a></li>
<li id="CN-z" class="China"><a class="flag-icon-cn" href="members/china">China</a></li>
<li id="CZ-z" class="CZ"><a class="flag-icon-cz noUrl" href="#">Czech Republic</a></li>
<li id="EU-z" class="EuropeanUnion"><a class="flag-icon-eu" href="members/European-Commission">European Commission</a></li>
<li id="FR-z" class="France"><a class="flag-icon-fr" href="members/France">France</a></li>
<li id="DE-z" class="Germany"><a class="flag-icon-de noUrl" href="#">Germany</a></li>
<li id="GR-z" class="Greece"><a class="flag-icon-gr" href="members/greece">Greece</a></li>
<li id="IN-z" class="India"><a class="flag-icon-in noUrl" href="#">India</a></li>
<li id="IT-z" class="Italy"><a class="flag-icon-it" href="members/italy">Italy</a></li>
<li id="JP-z" class="Japan"><a class="flag-icon-jp" href="members/japan">Japan</a></li>
<li id="MX-z" class="Mexico"><a class="flag-icon-mx" href="members/mexico">Mexico</a></li>
<li id="NL-z" class="Netherlands"><a class="flag-icon-nl" href="/members/Netherlands">Netherlands</a></li>
<li id="NZ-z" class="NewZealand"><a class="flag-icon-nz" href="members/New-Zealand">New Zealand</a></li>
<li id="NO-z" class="Norway"><a class="flag-icon-no" href="members/Norway">Norway</a></li>
<li id="PL-z" class="Poland"><a class="flag-icon-pl" href="members/poland">Poland</a></li>
<li id="KR-z" class="SouthKorea"><a class="flag-icon-kr" href="members/Republic-of-Korea">Republic of Korea</a></li>
<li id="RO-z" class="Romania"><a class="flag-icon-ro noUrl" href="#">Romania</a></li>
<li id="RU-z" class="Russia"><a class="flag-icon-ru" href="members/Russia">Russia</a></li>
<li id="SA-z" class="SaudiArabia"><a class="flag-icon-sa" href="members/Saudi-arabia">Saudi Arabia</a></li>
<li id="RS-z" class="Serbia"><a class="flag-icon-rs noUrl" href="#">Serbia</a></li>
<li id="ZA-z" class="SouthAfrica"><a class="flag-icon-za" href="members/south-africa">South Africa</a></li>
<li id="AE-z" class="UnitedArabEmirates"><a class="flag-icon-ae noUrl" href="#">United Arab Emirates</a></li>
<li id="GB-z" class="UnitedKingdom"><a class="flag-icon-gb" href="members/united-kingdom">United Kingdom</a></li>
<li id="US-z" class="UnitedStates"><a class="flag-icon-us" href="members/united-states">United States</a></li>                    
</ul>

<div id="vmap" style="width: 80%; height: 600px; float:right;"></div>
<div id="legend">
    <table cellpadding="5" cellspacing="0" width="100%" align="right">
        <tr>
            <td style="width:20px;height:20px;background-color:#1D94BD;">&nbsp;</td>
            <td>Members of the CSLF</td>
        </tr>
        <tr>
            <td style="width:20px;height:20px;background-color:#0AB6B1;">&nbsp;</td>
            <td>Members of the European Commission not individually represented in the CSLF</td>
        </tr>
    </table>
</div>



	<script type="text/javascript" src="sites/all/themes/CSFL_theme/js/jquery.vmap.js"></script>
    <script type="text/javascript" src="sites/all/themes/CSFL_theme/js/maps/jquery.vmap.world.js" charset="utf-8"></script>
    
    <script type="text/javascript">
    jQuery(document).ready(function() {
		
		var activeNations = new Array("au","br","ca","cn","fr","de","gr","in","it","jp","kr","mx","nl","nz","no","pl","ru","sa","rs","za","ae","gb","us");
 
	  jQuery('#vmap').vectorMap({ 
	  	map: 'world_en',
		backgroundColor: null,
		borderColor: '#777777',
        borderWidth: 1,
        color: '#C8EBF7', 		
		hoverColor: '#11566C',
		selectedColor: null,
		//colors: highlightedCountries,
		colors: {
			
			ai: '#0AB6B1',
			be: '#0AB6B1',
			bg: '#0AB6B1',
			hr: '#0AB6B1',
			cy: '#0AB6B1',			
			dk: '#0AB6B1',
			ee: '#0AB6B1',
			fi: '#0AB6B1',
			hu: '#0AB6B1',
			ie: '#0AB6B1',
			lv: '#0AB6B1',
			li: '#0AB6B1',
			lu: '#0AB6B1',
			mt: '#0AB6B1',
			pt: '#0AB6B1',
			sk: '#0AB6B1',
			si: '#0AB6B1',
			es: '#0AB6B1',
			se: '#0AB6B1',

			
			// end EU
			au:'#1D94BD',
			br:'#1D94BD',
			ca:'#1D94BD',
			cn:'#1D94BD',
			cz:'#1D94BD',
			fr:'#1D94BD',
			de:'#1D94BD',
			gr:'#1D94BD',
			in:'#1D94BD',
			it:'#1D94BD',
			jp:'#1D94BD',
			kr:'#1D94BD',
			mx:'#1D94BD',
			nl:'#1D94BD',
			nz:'#1D94BD',
			no:'#1D94BD',
			pl:'#1D94BD',
			ro:'#1D94BD',
			ru:'#1D94BD',
			sa:'#1D94BD',
			rs:'#1D94BD',
			za:'#1D94BD',
			ae:'#1D94BD',
			gb:'#1D94BD',
			us:'#1D94BD'

		},
		showTooltip: true,
		onLabelShow: function(event, label, code)
		
		{
			if (
				code=='au'||
				code=='br'||
				code=='ca'||
				code=='cn'||
				code=='cz'||
				code=='fr'||
				code=='de'||
				code=='gr'||
				code=='in'||
				code=='it'||
				code=='jp'||
				code=='kr'||
				code=='mx'||
				code=='nl'||
				code=='nz'||
				code=='no'||
				code=='pl'||
				code=='ro'||
				code=='ru'||
				code=='sa'||
				code=='rs'||
				code=='za'||
				code=='ae'||
				code=='gb'||
				code=='us'
				)
			{
				 label.text([code].name);
			}
			
			else if (
				code=='ai'||
				code=='be'||
				code=='bg'||
				code=='hr'||
				code=='cy'||				
				code=='dk'||
				code=='ee'||
				code=='fi'||
				code=='hu'||
				code=='ie'||
				code=='lv'||
				code=='li'||
				code=='lu'||
				code=='mt'||
				code=='pt'||
				code=='sk'||
				code=='si'||
				code=='es'||
				code=='se'

				) {
				label.html('European Commission, including ' + label.text());
				}
			
			 else {
				event.preventDefault();
			}
		},
		onRegionOver:function(event, code, region){
			if(activeNations.indexOf(code)===-1){
				event.preventDefault();
				}
			},
		onRegionClick: function (event, code, region) {
        switch (code) {
			case "au":window.location = "Members/Australia";
				break;
			case "br":window.location = "Members/Brazil";
				break;
			case "ca":window.location = "Members/Canada";
				break;
			case "cn":window.location = "Members/China";
				break;
			case "fr":window.location = "Members/France";
				break;
			/*case "de":window.location = "Members/Germany";
				break;*/
			case "gr":window.location = "Members/Greece";
				break;
			/*case "in":window.location = "Members/India";
				break;*/
			case "it":window.location = "Members/Italy";
				break;
			case "jp":window.location = "Members/Japan";
				break;
			case "kr":window.location = "Members/Korea";
				break;
			case "mx":window.location = "Members/Mexico";
				break;
			case "nl":window.location = "Members/Netherlands";
				break;
			case "nz":window.location = "Members/New-Zealand";
				break;
			case "no":window.location = "Members/Norway";
				break;
			case "pl":window.location = "Members/Poland";
				break;
			/*case "ro":window.location = "Members/Romania";
				break;*/
			case "ru":window.location = "Members/Russia";
				break;
			case "sa":window.location = "Members/Saudi-Arabia";
				break;
			/*case "rs":window.location = "Members/Serbia";
				break;*/
			case "za":window.location = "Members/South-Africa";
				break;
			/*case "ae":window.location = "Members/United-Arab-Emirates";
				break;*/
			case "gb":window.location = "Members/United-Kingdom";
				break;
			case "us":window.location = "Members/United-States";
				break;
			case "ai":window.location = "Members/European-Commission";break;
			case "be":window.location = "Members/European-Commission";break;
			case "bg":window.location = "Members/European-Commission";break;
			case "hr":window.location = "Members/European-Commission";break;
			case "cy":window.location = "Members/European-Commission";break;
			//case "cz":window.location = "Members/European-Commission";break;
			case "dk":window.location = "Members/European-Commission";break;
			case "ee":window.location = "Members/European-Commission";break;
			case "fi":window.location = "Members/European-Commission";break;
			case "hu":window.location = "Members/European-Commission";break;
			case "ie":window.location = "Members/European-Commission";break;
			case "lv":window.location = "Members/European-Commission";break;
			case "li":window.location = "Members/European-Commission";break;
			case "lu":window.location = "Members/European-Commission";break;
			case "mt":window.location = "Members/European-Commission";break;
			case "pt":window.location = "Members/European-Commission";break;
			case "sk":window.location = "Members/European-Commission";break;
			case "si":window.location = "Members/European-Commission";break;
			case "es":window.location = "Members/European-Commission";break;
			case "se":window.location = "Members/European-Commission";break;

				}
				
			}
		
		});		
		//var fc = '#777777'; // you'll need this if you'll want to change the whole group color someday
		//jQuery('#vmap').vectorMap('set', 'colors', {au: fc, mx: fc, ca: fc});	
		   
    });
	

    </script>