<div style="width:50%;float:left;vertical-align:top;">
<p><strong>Uthmaniyah CO<sub>2</sub>-EOR Project in Saudi Arabia&nbsp;</strong></p>
<p><iframe frameborder="0" height="197" src="https://www.youtube.com/embed/Rw5WxvHA_jw?controls=0&amp;showinfo=0" width="350"></iframe></p>
</div>
<div style="width:50%;float:left;vertical-align:top;">
<p><strong>Rotterdam Storage &amp; Capture Demonstration Animation</strong></p>
<p><iframe frameborder="0" height="197" src="https://www.youtube.com/embed/pGInLFdVM6Y?controls=0&amp;showinfo=0" width="350"></iframe></p>
</div>
<div style="width:50%;float:left;vertical-align:top;clear:both;">
<p><strong>Shell's Quest Project in Canada</strong></p>
<p><iframe frameborder="0" height="197" src="https://www.youtube.com/embed/gBVZBOj9Jus?controls=0&amp;showinfo=0" width="350"></iframe></p>
</div>
<div style="width:50%;float:left;vertical-align:top;">
<p><strong>SaskPower CCS The Future is Here</strong></p>
<p><iframe frameborder="0" height="197" src="https://www.youtube.com/embed/PVbyQnvgnzk?controls=0&amp;showinfo=0" width="350"></iframe></p>
<br style="clear:both;">
</div>